label.url-overlay {
  padding: 4px 8px 4px 8px;
  outline-style: solid;
  outline-color: #555555;
  outline-width: 1px;
}

label.url-overlay:hover {
  opacity: 0;
}

label.url-overlay.left {
  border-radius: 0px 6px 0px 0px;
}

label.url-overlay.right {
  border-radius: 6px 0px 0px 0px;
}

label.url-overlay.hidden {
  opacity: 0;
}

label.size-overlay {
  padding: 4px 8px 4px 8px;
  border-radius: 6px 6px 6px 6px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #555555;
}

label.size-overlay.hidden {
  opacity: 0;
}

window.ssd.no-border-radius {
  /* Without clearing the border radius, at least on Mutter with
   * gtk-titlebar=true and gtk-adwaita=false, there is some window artifacting
   * that this will mitigate.
   */
  border-radius: 0 0;
}

.transparent {
  background-color: transparent;
}

.terminal-window .notebook paned > separator {
  background-color: rgba(250, 250, 250, 1);
  background-clip: content-box;

  /* This works around the oversized drag area for the right side of GtkPaned.
   *
   * Upstream Gtk issue:
   * https://gitlab.gnome.org/GNOME/gtk/-/issues/4484#note_2362002
   *
   * Ghostty issue:
   * https://github.com/ghostty-org/ghostty/issues/3020
   *
   * Without this, it's not possible to select the first character on the
   * right-hand side of a split.
   */
  margin: 0;
  padding: 0;
}

/* Add 6px padding to any pane side which touches a pane separator.
 * This ensures that the pane resize handle and the pane content do
 * not overlap.
 *
 * There are four universal rules for any given pane:
 *
 * 1.  If any ancestor is the first child of a vertical split, add
 *     bottom padding.
 * 2.  If any ancestor is the second child of a vertical split, add
 *     top padding.
 * 3.  If any ancestor is the first child of a horizontal split, add
 *     right padding.
 * 4.  If any ancestor is the second child of a horizontal split,
 *     add left padding.
 *
 * However, because the children of split panes may be _either_
 * 'overlay' or another 'pane', these four rules become eight, to
 * account for these two possibilities in CSS.
 *
 * Note that we must apply padding _only_ to the overlay element, not
 * to a pane element, as this ensures that the separators will
 * intersect. If padding is added to a pane element, it will create
 * a gap between perpendicular separators.
 */

/* An overlay which descends from the first-child of a horizontal
 * pane 
 */
.terminal-window .notebook paned.horizontal > :first-child overlay {
  padding-right: 6px;
}

/* An overlay which _is_ the first-child of a horizontal pane. */
.terminal-window .notebook paned.horizontal > overlay:first-child {
  padding-right: 6px;
}

/* An overlay which descends from the last-child of a horizontal
 * pane
 */
.terminal-window .notebook paned.horizontal > :last-child overlay {
  padding-left: 6px;
}

/* An overlay which _is_ the last-child of a horizontal pane */
.terminal-window .notebook paned.horizontal > overlay:last-child {
  padding-left: 6px;
}

/* An overlay which descends from the first-child of a vertical pane
 */
.terminal-window .notebook paned.vertical > :first-child overlay {
  padding-bottom: 6px;
}

/* An overlay which _is_ the first-child of a vertical pane */
.terminal-window .notebook paned.vertical > overlay:first-child {
  padding-bottom: 6px;
}

/* An overlay which descends from the last-child of a vertical pane
 */
.terminal-window .notebook paned.vertical > :last-child overlay {
  padding-top: 6px;
}

/* An overlay which _is_ the last-child of a vertical pane */
.terminal-window .notebook paned.vertical > overlay:last-child {
  padding-top: 6px;
}

